    body {
      background-color: #000;
      background-image: url("../images/background.jpg");
      margin: .0%;
    }
    
    /* Header */
    header {
      background-color: #666;
      padding: .0%;
      text-align: center;
      color: white;
      background-image: url("../images/cover.jpg");
      background-position: 0% 15%;

      border-style: solid;
      border-width: 2px;
      border-color: #2E2E2E;
    }

    /* Responsive layout for mobile - img */
    @media (max-device-width: 640px) {
      img {
        width: 100%;
        height: auto;
      }
    }
    
    /* Section */
    section {
      display: -webkit-flex;
      display: flex;
    }

    /* Responsive layout for mobile - section */
    @media (max-device-width: 640px) {
      section {
        -webkit-flex-direction: column;
        flex-direction: column;
      }
    }  
    
    /* Section - b */
    .section-b {
      display: table;
      width: 100%;
    }

    .s-b {
      display: table-cell;
      padding: 1%;
      border-style: solid;
      border-width: 2px;
      border-color: #2E2E2E;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    /* Responsive layout for mobile - section-b */
    @media (max-device-width: 640px) {
      .section-b {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
      }
    } 
    
    /* Font styles for h1, h2, p etc */
    h1 {
      font-family: bebas;
      font-size: 300%;
      color: #B5B6CB;  
      text-align: center;
      -webkit-text-stroke: .5px #3C4360;

      margin: 1.5% .0% 1.5%;
    }

    /* Responsive layout for mobile - h1 */
    @media (max-device-width: 640px) {
        h1 {
          font-size: 350%;
        }
    }

    h2 {
      font-family: arial;
      font-size: 130%;
      font-weight: bold;
      color: #7D84A2;
      text-align: center;
      -webkit-text-stroke: .1px #3C4360;

      margin: 1.5% .0% 1.5%;
    }

    /* Responsive layout for mobile - h2 */
    @media (max-device-width: 640px) {
        h2 {
          font-size: 105%;
        }
    }

    p {
      font-family: arial;
      font-size: 100%;
      color: #B5B6CB;
      text-align: justify;

      margin: 5% .0% 5%;
    }

    /* Responsive layout for mobile - p */
    @media (max-device-width: 640px) {
      p {
        font-size: 90%;
      }
    }

    .p2 {
      font-family: arial;
      font-size: 100%;
      color: #7D84A2;
      text-align: justify;

      margin: 2% .0% 2%;   
    }

    #p3 {
      font-family: arial;
      font-size: 100%;
      color: #000;
      text-align: justify;

      margin: 5% .0% 5%;
    }

    /* Buttons */
    .button-a {
      background-color: #B5B6CB;
      display: inline-block;
      border: none;
      padding: 2% 5%;
      margin: 1% 42.5% 2%;
      border-radius: 2px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-size: 80%;
      color: #3C4360;
      cursor: pointer;
      transition-duration: 0.4s;
    }

    .button-a:hover {
      background-color: #3C4360;
      color: #B5B6CB;
    }

    .button-b {
      background-color: #B5B6CB;
      border: none;
      padding: 2% 5%;
      margin-top: 1%;
      margin-bottom: 2%;
      margin-left: 1%;
      margin-right: .0%;
      border-radius: 2px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-size: 80%;
      color: #3C4360;
      cursor: pointer;
      transition-duration: 0.4s;
      float: right;
    }

    .button-b:hover {
      background-color: #3C4360;
      color: #B5B6CB;
    }

    .button-c {
      background-color: #B5B6CB;
      border: none;
      padding: 2% 5%;
      margin-top: 1%;
      margin-bottom: 2%;
      margin-left: .0%;
      margin-right: 1%;
      border-radius: 2px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-size: 80%;
      color: #3C4360;
      cursor: pointer;
      transition-duration: 0.4s;
      float: right;
    }

    .button-c:hover {
      background-color: #3C4360;
      color: #B5B6CB;
    }
    
    /* Navigation */
    nav {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background: #ccc;
      padding: .0%;

      border-style: solid;
      border-width: 2px;
      border-color: #2E2E2E;
    }
    
    /* Navigation list */
    nav ul {
      list-style-type: none;
      margin: .0%;
      padding: .0%;
      overflow: hidden;
      background-color: #333;
    }

    /* Unordered list */
    ul {
      list-style-type: none;
      margin: .0%;
      padding: .0%;
      overflow: hidden;
      background-color: #333;
    }
    
    /* Ordered list */
    li {
      float: left;
    }
    
    /* Ordered list - link */
    li a {
      display: block;
      text-align: center;
      padding: 15px;
      text-decoration: none;
      font-family: bebas;
      font-size: 150%;
    }

    /* Responsive layout for mobile - li a */
    @media (max-device-width: 640px) {
      li a {
        font-size: 180%;
      }
    }
    
    /* Ordered list - link - hover */
    li a:hover {
      background-color: #222;
      transition: transform .3s;
      transform: scale(1.03);
    }

    /* Forms */
    input[type=text] {
      width: 100%;
      padding: 1% 1%;
      margin: .5% 0% 3%;
      box-sizing: border-box;
      border: 1px solid #999;
      border-radius: 2px;
    }

    form {
      font-family: arial;
      font-size: 90%;
      font-weight: bold;
      color: #B5B6CB;
    }

    /* Content */
    content {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background-color: #4A4A4A;
      padding: .0%;
      padding-left: 1.5%;
      padding-right: 1.5%;

      border-style: solid;
      border-width: 2px;
      border-color: #2E2E2E;

      display: block;
      justify-content: center;
      align-items: center;
    }

    /* Responsive layout for desktop - content */
    @media (min-device-width: 640px) {
        content {
          padding-left: 30%;
          padding-right: 30%;
        }
    }

    /* Checkout */
    .cart {
      background-color: #fff;
      padding: 1% 2% 1.5% 2%;
      border: 1px solid #999;
      border-radius: 2px;
    }

    span.price {
      float: right;
    }

    /* Footer */
    footer {
      background-color: #3C4360;
      padding: 2%;
      color: white;

      border-style: solid;
      border-width: 2px;
      border-color: #2E2E2E;
    }

    #pf {
      font-family: arial;
      font-size: 80%;
      color: #B5B6CB;
  
      margin: 1% .0% 1%;
      text-align: center;
    }

    /* Fonts */
    @font-face {
	  font-family: Bebas;
	  src: url("../fonts/BebasNeue-Regular.ttf")
    }

    /* Default link style */
      a:link {
      text-decoration: none;
      color: #B5B6CB;
    }
      a:visited {
      text-decoration: none;
      color: #B5B6CB;
    }
      a:hover {
      text-decoration: none;
      color: #B5B6CB;
    }
      a:active {
      text-decoration: none;
      color: #B5B6CB;
    }

    /* Scrollbar */

        ::-webkit-scrollbar {
      width: 0.5vw;
    }
        ::-webkit-scrollbar-track {
      background: #3C4360;
    }
        ::-webkit-scrollbar-thumb {
      background: #B5B6CB;
    }
        ::-webkit-scrollbar-thumb:hover {
      background: #7D84A2;
    }